body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}
h1{
color:#66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:5.625rem;
}
h2
{
color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3
{
  color:#11999E;
font-family: 'Montserrat', sans-serif;
}
.top-container
{
background-color:#e4f9f5;
position: relative;
padding: 100px;
}
.middle-container
{


}
.bottom-container
{

}
.pro
{
  text-decoration: underline;
}
.bottom-cloud
{
  position: absolute;
  left:470px;
  bottom: 400px;
}
.top-cloud
{
position: absolute;
right: 470px;
top: 50px;
}
.prithvi
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.computer
{
  border-radius: 50%;
  width: 25%;
  float:left;
  margin-right: 30px;

}
.chillies
{
  width: 25%;
  float:right;
  margin-left: 30px;

}
.first
{
  font-size: 200%;
  color:#66BFBF;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
p
{
  line-height: 2;
}
